.root {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 100%;
  background: #ab4141;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 0;
  column-gap: 16px;
  row-gap: 16px;
  justify-self: flex-start;
  max-width: 120rem;
  min-height: 0;
  padding: 1rem;
}
.card:global(.__wab_instance) {
  max-width: 100%;
  width: 377px;
  margin-right: 0px;
  flex-shrink: 0;
}
